@use 'kit/variables' as *;
@use 'kit/functions' as *;
@use 'kit/mixins' as *;

// Header mobile styles
@include mobile-tablet {
  .header {
    &__content {
      padding: 0 $spacing-md;
    }

    &__title {
      font-size: $font-size-md;
    }
  }

  // Adjust main margin for mobile
  .main {
    margin-top: 4.875rem; // Keep same header height
  }
}
